{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "page-styles": "./pages/page-styles",
          "components": "./components",
          "db": "./db",
          "services": "./services"
        }
      }
    ]
  ]
}
