{
  "root": true,
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended",
    "airbnb",
    "prettier"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "emitError": false,
    "failOnError": false
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": [],
  "globals": {
    "fetch": "readonly",
    "window": true,
    "document": true
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/react-in-jsx-scope": "off",
    "no-console": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": "off",
    "camelcase": "off",
    "no-plusplus": "off"
  }
}
